:root{
  --bg-primary: #FFFFFF;
  --cinza: #8F9BB7;
  --secondary-color: #112137;
  --third-color: #000000;
}

body{
  background-color: var(--bg-primary);  
}

nav{
  background-color: var(--secondary-color);
  display: fixed;
  width: 126px;
  height: 100vh;
  max-height: 100vh;
  float: left;
  margin-left: -110px;
}
.sidebar{
  padding-top: 40px;
  flex-wrap: nowrap;
}
a.sidebar-logo{
  margin-left: 30px;
}
li.sidebar-icons{
  margin-bottom: 20px;
}
div.exit{
  margin-left: 45px;
  margin-top: 290px;
}
.bi{
  vertical-align: -.125em;
  fill: currentColor;
}