*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
main {
  background-image: url("../img/home/background.png");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form{
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 180px;
  width: 380px;
  height: 520px;
  padding: 12px 18px;
}
.form-top{
  margin-top: 20px;
}
p{
  font-size: 20pt;
  font-weight: bold;
}

div.line{
  position: relative;
  bottom: 20px;
  left: 20px;

  width: 300px;
  height: 3px;
  background-color: #CE9184;
}

.input-group{
  top: 90px;
}

/* modificando o input do bootstrap */
.form-control, .input-group-text{
  border: #000000 !important;
}
.input-group-text{
  background-color: #fff !important;
}
.form-control:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input.form-control::placeholder{
  color: #000;
}

div.inp-line{
  position: relative;
  left: 10px;

  width: 300px;
  height: 1px;
  background-color: #000;

}

.form-footer{
  margin-top: 200px;
}

button.btn-primary{
  background-color: #CE9184;
  color: #112137;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 100px;
  box-shadow: 4px 4px 0px #000000;
}
.btn-pin{
  margin-top: 80px;
}

button.btn-primary:hover{
  background-color: #CE9184 !important;
  border: 2px solid #000000 !important;
}

/* input do pin */
form > h4{
  text-shadow: 1px 8px 12px rgba(17, 33, 55, 0.8);
  margin-top: 20px;
}

.group-pin{
  margin-top: 40px;
  margin-bottom: 20px;
}

input.inp-pin{
  background-color: #D9D9D9;
  width: 45px;
  height: 52px;
  border-radius: 7px;

  text-transform: uppercase;
  color: #000;
  font-size: 24pt;
  text-align: center;
}

.pin-reenviar{
  color: #000;
  font-size: 14pt;
  text-shadow: 1px 8px 12px rgba(17, 33, 55, 0.8);
}
@media (max-width: 575.98px){
  form{
    width: 300px;
    height: 500px;
  }
  div.line{
    width: 220px;
  }
}