body{
    height: 2000px;
}
.sidebar{
    background-color: yellow;
    height: 800px;
}
.main{
    background-color: purple;
    height: 800px;
}
.mensagem{
    background-color: green;
    height: 100px;
}
.arquivo{
    background-color: red;
    height: 100px;
}