@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Big John Pro";

}

body {
    font-family: "BIG John Pro";
    background-color: #EBEFEE;
}
/* Logo */

#img-logo {
    margin-left: 75px;
}
/* Hamburguer */

#but-ham span {
    color: #112137;
    background-color: black;
}

.meu-hamburg {
    background-color: #112137 !important;
}

.span-ham {
    color: #CE9184 !important;
}
/* NAV */

#nav-princip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: #112137;

    

}

#navbarNav{

margin-left: 100px;


}

#contato{

    margin-left: 400px;
    margin-inline-start: 200px;

}
#form2{

    margin-top: 20%;
    margin-left: 5%;
    background-position: 2cm 4cm;
    background-position: left;
}
#mensagem{
    position: relative;
    width: 30px;
    
}

#formulario{

position: relative ;
margin-left: 60%;
width: 30%;
margin-top: -30%;
border-radius: 40px;
font-size: 16px;

background-color: #EBEFEE;
}






#orcamento1{
    color:#CE9184;
    font-size: 26px;
}

#msg{
    width: 100%;
}


#Obra{

    text-align: center;
    font-size: 15px;
}

#metro{

    margin-left: 300px;

}

#maps{
    width: 50%;
}

#abas a {
    display: flex;
    gap: 1em;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
    padding-left: 60px;
}

#abas a:hover {
    color: #fff;
    transition: 0.3 ease;
    text-decoration: underline #CE9184;
}

#abas .nav-link {
    color: #CE9184;
}
/* #pag-ativ p {
color: #fff;
text-decoration: underline #CE9184;
} */

#link-logo {
    margin-right: 310px;
}
/*  
h1 {
    background-color: aquamarine;
    font-family: "Inter";
}
*/


    @media screen and (min-width: 450px) {
        #formulario{
          position:relative;
          width: 40%;
        }
        #orcamento1{
          width: 10%;
        }
        #maps{
          width: 50%;
        }
    
        .container {
          padding: 10px;
        }
        #msg{
            text-align: center;
            width: -30%;
            }
      }
