@font-face {
  font-family: 'Big John';
  src: url(../font/Big_John_PRO/bigjohnpro-regular.otf)
}
:root{
  --bg-primary: #FFFFFF;
  --cinza: #8F9BB7;
  --secondary-color: #112137;
  --third-color: #000000;
  --bg-itens: #CB8B7D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

header, 
.my-navbar,
.my-hamburg{
  background-color: var(--secondary-color) !important;
  font-family: 'Big John' !important;
}


/* Hamburguer */
#but-ham span {
  color: var(--secondary-color);
  background-color: black;
}
.span-ham {
  color: var(--bg-itens) !important;
}


/*  navbar */
.my-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 200px;
}

.abas a {
  display: flex;
  gap: 1em;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -13px;
}
.abas a:hover {
  color: #fff;
  transition: 0.3 ease;
  text-decoration: underline var(--bg-itens);
}

li .nav-link {
  color: var(--bg-itens) !important;
  padding-left: 25px !important;
}

.my-collapse {
  padding-left: 680px;
}
li {
  padding: 13px;
}


/* media queries */
@media (max-width: 575.98px){
  .my-navbar{
    padding: 10px 10px 10px 40px;
  }
  .navbar-brand img{
    width: 58px;
    height: 58px;
  }
  .my-collapse {
    padding-left: 20px;
  }
  .abas a {
    font-size: 18px;
  }
  
}