:root{
  --bg-primary: #FFFFFF;
  --cinza: #8F9BB7;
  --secondary-color: #112137;
  --third-color: #000000;
  --bg-itens: #CB8B7D;
  --select-itens: rgba(203, 139, 125, 0.7);
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
main {
  background-image: url("../img/home/background.png");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form{
  background-color: #fff;
  border-radius: 20px;
  width: 380px;
  height: 520px;
  padding: 12px 18px;
}
.form-top{
  margin-top: 20px;
}
p{
  font-size: 3.5rem;
  font-weight: bold;
}

div.line{
  position: relative;
  bottom: 16px;
  left: 28%;

  width: 150px;
  height: 3px;
  background-color: #CE9184;
}

.input-group{
  top: 90px;
}

/* modificando o input do bootstrap */
.form-control, .input-group-text{
  border: #000000 !important;
}
.input-group-text{
  background-color: #fff !important;
}
.form-control:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input.form-control::placeholder{
  color: #000;
}

div.inp-line{
  position: relative;
  left: 10px;

  width: 300px;
  height: 1px;
  background-color: #000;

}

.form-footer{
  margin-top: 200px;
}

button.btn-primary{
  background-color: #CE9184;
  color: #112137;
  font-weight: bold;
  font-size: 2rem;

  border: 2px solid #000000;
  border-radius: 100px;
  box-shadow: 4px 4px 0px #000000;
}
.btn-pin{
  margin-top: 80px;
}

button.btn-primary:hover{
  background-color: #CE9184 !important;
  border: 2px solid #000000 !important;
}

/* input do pin */
form > h4{
  text-shadow: 1px 8px 20px rgba(17, 33, 55, 0.8);
  margin-top: 20px;
  font-size: 2rem;
}

.group-pin{
  margin-top: 40px;
  margin-bottom: 20px;
}

input.inp-pin{
  background-color: #D9D9D9;
  width: 45px;
  height: 52px;
  border-radius: 7px;

  text-transform: uppercase;
  color: #000;
  font-size: 3rem;
  text-align: center;
}

.pin-reenviar{
  color: #000;
  font-size: 2rem;
  text-shadow: 1px 8px 20px rgba(17, 33, 55, 0.8);
}


@media (max-width: 430px) {
  form{
    width: 350px;
    margin-bottom: 140px;
  }
}

@media (max-width: 385px) {
  form{
    width: 320px;
  }
}

@media (max-width: 346px) {
  form{
    width: 290px;
  }
  form p{
    font-size: 2.8rem;
  }
  form h4{
    font-size: 1.8rem;
  }

  div.line{
    width: 140px;
    left: 22%;
  }

  input.inp-pin{
    width: 38px;
    height: 46px;
  }

  .pin-reenviar{
    font-size: 1.8rem;
  }
}

@media (max-width: 345px) {
  form{
    width: 270px;
  }
}