@font-face {
  font-family: 'Big John';
  src: url(../font/Big_John_PRO/bigjohnpro-regular.otf)
}
:root{
  --bg-primary: #FFFFFF;
  --cinza: #8F9BB7;
  --secondary-color: #112137;
  --third-color: #000000;
  --bg-itens: #CB8B7D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Big John';
}
body {
  overflow-x: hidden;
}

header, 
.my-navbar,
.my-hamburg{
  background-color: var(--secondary-color) !important;
}


/* Hamburguer */
#but-ham span {
  color: var(--secondary-color);
  background-color: black;
}
.span-ham {
  color: var(--bg-itens) !important;
}


/*  navbar */
.my-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 200px;
}

@media (max-width: 1024px) {
  .my-navbar {
      margin-left: -180px;
  }
}

.abas a {
  display: flex;
  gap: 1em;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -13px;
}
.abas a:hover {
  color: #fff;
  transition: 0.3 ease;
  text-decoration: underline var(--bg-itens);
}
.abas .nav-active {
  color: whitesmoke !important;
  text-decoration: underline whitesmoke;
}
li .nav-link {
  color: var(--bg-itens) !important;
  padding-left: 25px !important;
}
#link-logo {
  padding: -40px;
}

#btn-entrar {
  padding-left: 100px;
}
#btn-entrar a:hover {
  color: var(--secondary-color);
  background-color: #fff;
}

.my-collapse {
  padding-left: 680px;
}
li {
  padding: 13px;
  font-size: 10px;
  text-decoration: dotted;
}
li a {
  font-size: 10px;
  text-decoration: dotted;
}

#cont-nav {
  margin-left: 40px;
}

.font-nav {
  font-size: 23px;
}



/* Carroussel */
/* @media (max-width: 768px) {
  #sec-carroussel {
      display: none;
  }
} */

/* Cards */
/* #um-cl-cards {
  justify-content: center;
}

#dois-cl-cards {
  justify-content: center;
  margin-top: 70px;
}

.fundo-img {
  background-color: var(--bg-itens);
  padding-top: 2rem;
  border-radius: inherit;
}

.texto-card {
  color: white;
}

.imgs-cards {
  border-radius: inherit;
}
 */






















/*
body{
  font-family: "Big John";
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}


.a-logo{
  margin-left: 70px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--secondary-color);

}
.nav-list{
  display: flex;
}
.nav-list a{
  color: var(--bg-itens);
}
.logo{
  height: 62px;
  width: 62px;
}



.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
  font-weight: 600;
}
.menu li a:hover{
  color: #fff;
  transition: 0.3 ease;
  text-decoration: underline var(--bg-itens);
}
.menu li{
  padding: 5px 34px;
}



input[type=checkbox]{
  display: none;
}


.hamburger{ 
  display: none;
  font-size: 24px;
  user-select: none;
}



@media (max-width: 768px) {
  .menu{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover{
    display: inline-block;
    background-color: #fff;
    transition: 0.3s ease;
  }
  .menu li + li{
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger{
    display: inline-block;
  }
  
} */