*{
  margin: 0;
  padding: 0;
}
:root{
  --bg-primary: #FFFFFF;
  --cinza: #8F9BB7;
  --secondary-color: #112137;
  --third-color: #000000;
  --bg-itens: #CB8B7D;
}

body{
  background-color: var(--bg-primary);  
}
h3,h1{
  color: var(--secondary-color);
}
header{
  margin-top: 50px;
}
.btn-voltar{
  width: 40px;
  height: 40px;
}

.btn-secondary{
  background-color: var(--bg-primary) !important;
  color: #474747 !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}