@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BIG John Pro light";
}

body {
    overflow-x: hidden;
}


/* Carroussel */
@media (max-width: 768px) {
    #sec-carroussel {
        display: none;
    }
}


/* Cards */
#um-cl-cards {
    justify-content: center;
}

#dois-cl-cards {
    justify-content: center;
    margin-top: 70px;
}

.fundo-img {
    background-color: #CE9184;
    padding-top: 2rem;
    border-radius: inherit;
}

.texto-card {
    color: white;
}

.imgs-cards {
    border-radius: inherit;
}
/* Titulo portfólio */

#tit-port {
    color: #CE9184;
    margin-top: 20PX;
}

#div-pag {
    position: absolute;
    margin-top: -5px;
}


/* Footer */
footer,
div.footer-box {
    background-color: #112137;
}

div.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 8px;
}

div.footer-line {
    width: 580px;
    height: 1px;
    background-color: #FAD6C6;
}

#imgs-redes.img-rede {
    padding: 0px 6px;
    margin-bottom: 10px;
}

div.footer-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer-sobre p {
    color: #FAD6C6;
    font-size: 14pt;
    margin-bottom: 8px;
}