@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BIG John Pro light";
}

body {
    overflow-x: hidden;
}
/* Logo */
/* Hamburguer */

#but-ham span {
    color: #112137;
    background-color: black;
}

.meu-hamburg {
    background-color: #112137 !important;
}

.span-ham {
    color: #CE9184 !important;
}
/* NAV */

#nav-princip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #112137;
}

@media (max-width: 1024px) {
    #navbarNav {
        margin-left: -180px;
    }
    #btn-entrar {
        margin-left: -50px;
    }
}

/*  @media (max-width: 1440px) {
    #navbarNav {
        margin-left: 60px;
    }
    #btn-entrar {
        margin-left: 110px;
    }
} */

#abas a {
    display: flex;
    gap: 1em;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -13px;
}

#abas a:hover {
    color: #fff;
    transition: 0.3 ease;
    text-decoration: underline #CE9184;
}

#abas .nav-active {
    color: whitesmoke !important;
    text-decoration: underline whitesmoke;
}

#abas .nav-link {
    color: #CE9184;
}

#link-logo {
    padding: -40px;
}

#btn-entrar {
    padding-left: 100px;
}

#btn-entrar a:hover {
    color: #112137;
    background-color: #fff;
}

#navbarNav {
    padding-left: 300px;
}

li {
    padding: 13px;
    font-size: 10px;
    text-decoration: dotted;
}

li a {
    font-size: 10px;
    text-decoration: dotted;
}

#cont-nav {
    margin-left: 40px;
}

.font-nav {
    font-size: 23px;
}
/* Carroussel */

@media (max-width: 768px) {
    #sec-carroussel {
        display: none;
    }
}
/* Cards */

#um-cl-cards {
    justify-content: center;
}

#dois-cl-cards {
    justify-content: center;
    margin-top: 70px;
}

.fundo-img {
    background-color: #CE9184;
    padding-top: 2rem;
    border-radius: inherit;
}

.texto-card {
    color: white;
}

.imgs-cards {
    border-radius: inherit;
}
/* Titulo portfólio */

#tit-port {
    color: #CE9184;
    margin-top: 20PX;
}

#div-pag {
    position: absolute;
    margin-top: -5px;
}
/* Footer */

footer,
div.footer-box {
    background-color: #112137;
}

div.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 8px;
}

div.footer-line {
    width: 580px;
    height: 1px;
    background-color: #FAD6C6;
}

#imgs-redes.img-rede {
    padding: 0px 6px;
    margin-bottom: 10px;
}

div.footer-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.footer-sobre p {
    color: #FAD6C6;
    font-size: 14pt;
    margin-bottom: 8px;
}