    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter";
    }
    
    body {
        font-family: "Inter";
        background-color: whitesmoke;
    }
    /* Logo */
    
    #img-logo {
        margin-left: 75px;
    }
    /* Hamburguer */
    
    #but-ham span {
        color: #112137;
        background-color: black;
    }
    
    .meu-hamburg {
        background-color: #112137 !important;
    }
    
    .span-ham {
        color: #CE9184 !important;
    }
    /* NAV */
    
    #nav-princip {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #112137;
    }
    
    #abas a {
        display: flex;
        gap: 1em;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: -10px;
        padding-left: 60px;
    }
    
    #abas a:hover {
        color: #fff;
        transition: 0.3 ease;
        text-decoration: underline #CE9184;
    }
    
    #abas .nav-link {
        color: #CE9184;
    }
    /* #pag-ativ p {
    color: #fff;
    text-decoration: underline #CE9184;
} */
    
    #link-logo {
        margin-right: 310px;
    }
    /*  
    h1 {
        background-color: aquamarine;
        font-family: "Inter";
    }
    */