<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://web.whatsapp.com/send?phone5581994930228" target="_blank " class="btn-wpp "><i
		 class="fa fa-whatsapp"></i></a>
	<link rel="stylesheet" href="../../../../public/css/home/home-navbar.css">
  <link rel="stylesheet" href="../../../../public/css/home/home-footer.css">
  <link rel="stylesheet" href="../../../../public/css/home/servicos/home-consultoria.css">
  <title>SERVIÇOS</title>

</head>

<body>
  <header>
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="../../../../index.html">
					<img src="../../../../public/img/home/logotipo.png" alt="logotipo" width="62" height="62">
				</a>

				<!-- Menun hamburguer -->
				<button class="navbar-toggler navbar-dark bg-dark my-hamburg" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-navbar" aria-controls="collapse-navbar" aria-expanded="false">
					<span class="navbar-toggler-icon span-ham"></span>
				</button>
				<!-- Fim do hamburguer -->
				
				<div class="collapse navbar-collapse my-collapse" id="collapse-navbar">
					<div class="abas">

						<menu type="context">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="#">Portfólio</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="../home-sobre.html">Sobre</a>
								</li>

								<li class="nav-item dropdown">
									<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Serviços
									</a>
									<ul class="dropdown-menu dropdown-menu-dark">
										<li class="nav-item"><a class="nav-link" href="./home-consultoria.html">Consultoria</a></li>
										<li><a class="dropdown-item" href="./home-projetos.html">Interiores</a></li>
										<li><a class="dropdown-item" href="./home-projetosonline.html">Arquitetônico</a></li>
									</ul>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="../home-orcamento.html">Orçamento</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="../home-entrar.html">Entrar</a>
								</li>
							</ul>
						</menu>

					</div>
				</div>
			</div>

            
		</nav>
	</header>

    

    
               </div>
       <div class="servicos">Serviços</div>
	   <div class="consultoria">Consultoria de Interiores Online</div>
       </div>
       </div>
   
       <section class="img">

		

        <div class="overlay"></div>
		<div class="apresentacao">O cliente recebe um manual com orientações
			técnicas necessárias para reformas pontuais com decoração de imóveis prontos,
			 incluindo desde proposta de layout, até cores e decorações</div>
			 <div class="icone"></div>


       </section>


    <a href="#" class="but"><div class="text">QUERO UM ORÇAMENTO</div></a>
	  

	<footer>
        <div class="footer-box ">
            <div class="footer-line "></div>

            <!-- redes sociais -->
            <div class="d-flex justify-content-center ">
                <a href="www.facebook.com ">
                    <img src="../../../../public/img/home/facebook-logo.svg" alt="Facebook ">
                </a>
                <a href="https://www.instagram.com// ">
                    <img src="../../../../public/img/home/instagram-logo.svg" alt="Instagram ">
                </a>
                <a href="https://www.pinterest.com ">
                    <img src="../../../../public/img/home/pinterest-logo.svg" alt="Pinterest ">
                </a>
            </div>

            <div class="footer-line "></div>
        </div>

        <div class="footer-sobre ">
            <p>Arquiteta Gabriella Sousa</p>
            <p>  2023 - GS Arquiteta</p>
            <p>gabriella@gmail.com | 11 4002-8922</p>
        </div>
    </footer>
  

	 <!-- Bootstrap JavaScript Libraries -->
	 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
	 integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
	 </script>

 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
	 integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
	 </script>

   </body>
  </html>            
 </body>
</html>